    /* Extra Small Devices (Phones,600px and down)*/
 @media only screen and (max-width:600px)
    {
        .header{ background-color: #2e63d3;  color: white;   height: 60px;  width: 100%;  padding-top: 4px;
            padding-bottom: 4px; margin-top: 2px; margin-bottom: 1px;  }
        .t5{    background-color: #041e42;    height: 50px;    width: 100%;    position: sticky;    top: 0;    }
        .f1{    padding-right: 1px;     padding-left: 1px; cursor: pointer; }
        .f2{    color: white;         font-size: small; }
        .logo{  width: 80px;    height: 25px;    padding-left: 5px; }
        .cart{  width: 25px;    height: 25px;    padding-right: 15px;    padding-left: 1.5px;  cursor: pointer }    
        .sbar{  border: none;   width: 200px;    height: 25px; border-radius: 3.5px; }            
        .sbutton{ margin-right: 10px; border: 2px solid; border-color: white; width: 60px; height: 22px; background-color:#041e42;  
                border-radius: 2px;  color: white;  font-size:small; padding-bottom: 1px; cursor: pointer}
        .img{   width: 120%;          height: 330px;    }    
        .popular{ width: 90px;}
        .k{       height: 105px;    width: 90px; }
        .o{       height: 70px; width: 110px; }
    } 

    @media only screen and (min-width:600px)
    {
        .header{ background-color: #2e63d3;  color: white;   height: 60px;  width: 100%;  padding-top: 4px;
                padding-bottom: 4px; margin-top: 2px; margin-bottom: 1px;  }
        .t5{    background-color: #041e42;    height: 50px;    width: 100%;    position: sticky;    top: 0;    }    
        .f1{    padding-right: 1px;     padding-left: 1px; cursor: pointer; }
        .f2{    color: white;         font-size: small; }
        .logo{  width: 80px;    height: 25px;    padding-left: 5px; }
        .cart{  width: 25px;    height: 25px;    padding-right: 15px;    padding-left: 1.5px;  cursor: pointer }    
        .sbar{  border: none;   width: 200px;    height: 25px; border-radius: 3.5px; }            
        .sbutton{ margin-right: 10px; border: 2px solid; border-color: white; width: 60px; height: 22px; background-color:#041e42;  
                border-radius: 2px;  color: white;  font-size:small; padding-bottom: 1px; cursor: pointer}
        .img{   width: 120%;          height: 330px;    }    
        .popular{ width: 90px;}
        .k{       height: 115px;    width: 90px; }
        .o{       height: 70px; width: 110px; }

    } 
    
    /* Extra Small Devices (landscape tablets,768px and up)*/
    @media only screen and (min-width:768px){
        .header{ background-color: #2e63d3;  color: white;   height: 40px;  width: 100%;  padding-top: 4px;
            padding-bottom: 4px; margin-top: 2px; margin-bottom: 1px;  }    
        .t5{    background-color: #041e42;    height: 55px;    width: 100%;    position: sticky;    top: 0;    }
        .f1{ padding-right: 2px; padding-left: 2px; cursor: pointer; }
        .f2{ color: white; font-size: small; }
        .logo{  width: 130px;    height: 33px;    padding-left: 10px; }
        .cart{  width: 25px;    height: 25px;    padding-right: 15px;    padding-left: 2.5px;  cursor: pointer }
        .sbar{  border: none; width: 300px; height: 25px; border-radius: 3.5px; }            
        .sbutton{ margin-right: 20px; border: 2px solid; border-color: white; width: 60px; height: 22px; background-color:#041e42;  
                  border-radius: 2px;  color: white;  font-size:small; padding-bottom: 1px; cursor: pointer }
        .img{   width: 120%;          height: 330px;    } 
        .popular{ width: 120px;}
        .k{       height: 125px;    width: 90px; } 
        .o{       height: 80px; width: 140px; }  
    }
    
    /* Extra Small Devices (Laptops/Desktops,992px and up)*/
    @media only screen and (min-width:992px){
        .header{ background-color: #2e63d3;  color: white;   height: 40px;  width: 100%;  padding-top: 4px;
            padding-bottom: 4px; margin-top: 2px; margin-bottom: 1px;  }
        .t5{    background-color: #041e42;    height: 60px;    width: 100%;    position: sticky;    top: 0;    }
        .f1{ padding-right: 3.5px; padding-left: 3.5px; cursor: pointer; }
        .f2{ color: white; font-size: medium; }
        .logo{  width: 170px;   height: 40px;    padding-left: 15px; }
        .cart{  width: 25px;    height: 25px;    padding-right: 20px;    padding-left: 3.5px;  cursor: pointer }    
        .sbar{  border: none; width: 415px; height: 30px; border-radius: 5px; }            
        .sbutton{ margin-right: 40px; border: 2px solid; border-color: white; width: 70px; height: 24px; background-color:#041e42;  
            border-radius: 3px;  color: white;  font-size:medium; padding-bottom: 1px; cursor: pointer }
        .img{   width: 120%;    height: 330px;    }
        .popular{ width: 155px;}
        .k{       height: 135px;    width: 90px; }
        .o{       height: 90px; width: 170px; }
    }
    /* Extra Small Devices (Large Laptops and Desktops,1200px and up)*/
    @media only screen and (min-width:1200px){
        .header{    background-color: #2e63d3;  color: white;   height: 25px;  width: 100%;  padding-top: 4px;
                    padding-bottom: 4px; margin-top: 2px; margin-bottom: 1px;  }
        .t5{    background-color: #041e42;    height: 65px;    width: 100%;    position: sticky;    top: 0;    }
        .f1{ padding-right: 5px; padding-left: 5px; cursor: pointer; }
        .f2{ color: white; font-size: large; }
        .logo{  width: 190px;    height: 40px;    padding-left: 20px; }
        .cart{  width: 30px;    height: 30px;    padding-right: 25px;    padding-left: 5px;  cursor: pointer }
        .sbar{  border: none; width: 475px; height: 32px; border-radius: 5px;  }            
        .sbutton{ margin-right: 15px; border: 2px solid; border-color: white; width: 80px; height: 27px; background-color:#041e42;  
                border-radius: 4px;   color: white;  font-size:large; padding-bottom: 2px; cursor: pointer }
        .img{   width: 120%;          height: 368px;    }        
        .next{  padding: 40px;        right: 0;   }
        .popular{ width: 210px;}
        .k{       height: 175px;    width: 110px; }
        .o{       height: 100px; width: 200px; }
    }
   